<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">
    <servlet>
        <servlet-name>initServlet</servlet-name>
        <servlet-class>com.itek.servlet.day04.initParamServlet</servlet-class>
        <init-param>
            <!--参数名-->
            <param-name>companyName</param-name>
            <!--参数值-->
            <param-value>itek</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>initServlet</servlet-name>
        <url-pattern>/init/param</url-pattern>
    </servlet-mapping>

</web-app>
